.classpath
.project
.settings
target
.idea
*.iml

styles.css
styles.scss.cache
addons.scss

.designer
.vaadin-designer2

*.iml

yarn.lock
src/main/frontend
src/main/webapp/VAADIN/frontend

.driver
selenium_standalone_zips
.DS_Store
**/*~

error-screenshots
