.classpath
.project
.settings
target
.idea

styles.css
styles.scss.cache
addons.scss

.designer
.vaadin-designer2

orders.iml

yarn.lock
src/main/frontend
src/main/webapp/VAADIN/frontend

.driver
.DS_Store
**/*~

error-screenshots
