@mixin dashboardview {
  .board-box {
    padding: 20px;
  }

  .board-box-inner {
    background-color: #f0f0f0;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
  }

  .board-box-label {
    height: 100%;
    position: relative;
    text-align: center;
  }

  .board-box-small-text {
    font: 600 20px 'Open Sans', sans-serif;
    position: absolute;
    left: 0;
    right: 0;

  }

  .board-box-big-text {
    font: 600 48px/110px 'Open Sans', sans-serif;
  }

  .board-box-needs-attention {
    color: red;
  }
}
