@mixin menu {
  .navigation .selected {
    background: darken($v-focus-color,10%);
    border-radius: 0;
    .v-icon, .v-button-caption {
        color: lighten($v-focus-color,50%);
    }
  }
  .app-shell .navigation .v-button:hover {
    .v-icon, .v-button-caption {
        color: lighten($v-focus-color,50%);
    }
  }

  .app-shell .logo {
    padding: 15px 8px;
  }
}
