@mixin menu {
  .navigation-bar {
    color: lighten($v-focus-color,40%);

    .v-button:hover {
      .v-icon, .v-button-caption {
          color: lighten($v-focus-color, 60%);
      }
    }
    .selected {
      background: darken($v-focus-color,10%);
      border-radius: 0;
    }
    .activeViewName {
      line-height: $v-unit-size;
      width: auto !important;
      padding: 0 $v-unit-size / 2.5;
      font-size: $v-font-size;
    }
  }

  .app-shell[width-range~="601px-"] {
    .activeViewName {
      display: none;
    }
    .logo {
      padding: 15px 8px;
    }
  }

}
