@mixin ordersview {

  // Insert your own theme rules here
  .two-row .v-grid-body .v-grid-cell {
    height: 55px;
    line-height: 25px;
  }
  .status {
    padding-top: 16px;
    &.problem {
        color: red;
    }
  }
  .bulletin-board {
    background: #FCF2D4;
    .message {
      padding: 1em;
    }
  }
  .v-textfield.v-readonly {
    // Hide placeholder in readonly fields
    &::placeholder {
      color: transparent;

    }
    &:-ms-input-placeholder {
      color: transparent;
    }

    &::-webkit-input-placeholder {
      color: transparent;
    }

    padding-left: 0;
    border: 0;
  }
  .v-filterselect.v-readonly {
    input {
      padding-left: 0;
      border: 0;
    }
    .v-filterselect-button {
      display: none;
    }
  }
  .v-datefield.v-readonly {
    .v-datefield-button {
      display: none;
    }
  }
}
