@mixin ordersview {
	// Insert your own theme rules here
	.new-order {
		color: #5a6054;
		font-size: 60px;
		text-shadow: 1px 1px 3px rgba(0,0,0,.2);
		
		&:after {
			display: none;
		}
	}

	.order-form {
		max-width: 768px;
	
		.add-items {
			text-align: left;
			border: 1px dashed rgba(0,0,0,.2);
		}
		.total {
			text-align: right;
			border-top: 2px solid black;
		}
		.v-widget.header {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 12px;
			margin-bottom: 0;
			border-bottom: 2px solid rgba(0, 0, 0, .1);
		}
	}
	.edit .v-widget.header {
		border-bottom: none;
	}
	.responsive {
		display: flex;
	  	flex-wrap: wrap;
	  	justify-content: space-between;
	  	
	  	> .v-widget {
			margin: 8px 0;
		}

		.v-caption-half {
			margin: -1px;
		}
	}
	.responsive[width-range~="-599px"] {
		justify-content: flex-end;
		.cancel {
			order: 99;
		}
	}
	.responsive[width-range~="600px-"] .half {
		width: calc(50% - 8px) !important;
	}
	.responsive[width-range~="600px-"] .long {
		width: calc(100% - 166px) !important;
	}
	.responsive[width-range~="600px-"] .short {
		width: 150px !important;
	}
	.product-container {
		margin-top: 0;
	}
	.product-row {
		border-bottom: 1px solid rgba(0,0,0,.05);
		padding-bottom: 8px;
		margin-bottom: 16px;

		.times {
			text-align: center;
		}
		.quantity, .price {
			text-align: right;
		}
		.delete {
			border-radius: 4px 0 0 4px;
			border-right: 0;
		}
		.product {
			border-radius: 0 4px 4px 0;
		}
	}
	.product-row:last-child {
			border-bottom: 0;
			margin-bottom: 0;
	}

  .two-row .v-grid-body .v-grid-cell {
    height: 55px;
    line-height: 25px;
  }

  .v-grid-cell.status div {
  	margin-top: 16px;
  	border-radius: 3px;
  	background-color: #ccc;
  	font-size: 10px;
  	padding: 3px 5px;
  	color: rgba(255,255,255,.6);
  	border: 1px solid rgba(0,0,0,.1);
  }
  .v-grid-cell.status {
  	&.ready div {
    	background-color: $v-friendly-color;
    }
   &.new div {
   		background-color: #ffc800;
   }
   &.problem div {
   		background-color: $v-error-indicator-color;
   }
  }
 
  .v-textfield.v-readonly {
    // Hide placeholder in readonly fields
    &::placeholder {
      color: transparent;

    }
    &:-ms-input-placeholder {
      color: transparent;
    }

    &::-webkit-input-placeholder {
      color: transparent;
    }

    padding-left: 0;
    border: 0;
  }
  .v-filterselect.v-readonly {
    input {
      padding-left: 0;
      border: 0;
    }
    .v-filterselect-button {
      display: none;
    }
  }
  .v-datefield.v-readonly {
    .v-datefield-button {
      display: none;
    }
  }
 
 .v-grid-cell {
 	.due {
	    width:40px;
	    height: 40px;
	    border: 1px solid #999;
	    border-radius: 3px;
	    margin-top: 6px;
	    text-align: center;
	    font-size: 14px;
	    font-weight: bold;
	    b {
	    	font-size: 10px;
		    background-color: #999;
		    color: #fff;
		    display: block;
		}
	}
	.in0 {
		border-color: green;
		b {
			background-color: green;
		}
	}
	.in1 {
		border-color: #000;
		b {
			background-color: #000;
		}
	}
  }
}

