@mixin ordersview {
	// Insert your own theme rules here
	.new-order {
		color: #5a6054;
		font-size: 60px;
		text-shadow: 1px 1px 3px rgba(0,0,0,.2);
	}

	.order-form {
		max-width: 900px;

		.add-items {
			text-align: left;
			border: 1px dashed rgba(0,0,0,.2);
		}
		.total {
			text-align: right;
			border-top: 2px solid black;
		}
	}

	.history {
		border-top: 1px solid rgba(0,0,0,.1);
		background-color: rgba(0,0,0,.05);
	}

	.product-row {
		border-bottom: 1px solid rgba(0,0,0,.05);
		margin-bottom: 16px;
	}


  .two-row .v-grid-body .v-grid-cell {
    height: 55px;
    line-height: 25px;
  }
  .status {
    padding-top: 16px;
    &.problem {
        color: red;
    }
  }
  .v-textfield.v-readonly {
    // Hide placeholder in readonly fields
    &::placeholder {
      color: transparent;

    }
    &:-ms-input-placeholder {
      color: transparent;
    }

    &::-webkit-input-placeholder {
      color: transparent;
    }

    padding-left: 0;
    border: 0;
  }
  .v-filterselect.v-readonly {
    input {
      padding-left: 0;
      border: 0;
    }
    .v-filterselect-button {
      display: none;
    }
  }
  .v-datefield.v-readonly {
    .v-datefield-button {
      display: none;
    }
  }
}
