<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;orderstheme&quot;}">
  <meta name="vaadin-version" content="8.0.0.beta1">
 </head>
 <body>
  <vaadin-vertical-layout spacing="false" size-full margin="false">
   <vaadin-grid size-full data-item-type="com.vaadin.template.orders.backend.data.entity.Order" _id="list" :expand></vaadin-grid>
   <vaadin-css-layout style-name="bulletin-board" width-full _id="bulletinBoard">
    <vaadin-label style-name="message" width-full _id="bulletinBoardMessage">
     <b>We're out of pink sugarcoating</b>
     <br> 2016.01.13 06:13 Heidi 
     <br>
     <br> Please don't accept any orders due before Friday using the pink stuff! 
    </vaadin-label>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>