@mixin menu {
  .navigation-bar {
    color: lighten($v-focus-color,40%);

    .v-button {
      border-radius: 0;
    }
    .selected {
      background: rgba(0,0,0,.2);
      color: lighten($v-focus-color,60%);
      .v-icon, .v-button-caption {
          color: lighten($v-focus-color,60%);
      }
    }
    .activeViewName {
      line-height: $v-unit-size;
      width: auto !important;
      padding: 0 $v-unit-size / 2.5;
      font-size: $v-font-size;
    }
  }
  .logo {
    color: #fff;
  }
  .app-shell[width-range~="-600px"] {
    .logo {
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .app-shell[width-range~="601px-"] {
    .activeViewName {
      display: none;
    }
    .logo {
      // match search-bar height
      height: 60px;
    }
  }
  .app-shell[width-range~="1001px-"] {
    .logo {
      padding-top: $v-layout-spacing-vertical;
    }
    .navigation-bar {
      background-image: url(bg.jpg);
      background-size: cover;
      background-position: top;
      .navigation {
        background: transparent;
        border: none;
      }
    }
  }

}
