<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;orderstheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="orders:com.vaadin.template.orders.ui.components">
 </head>
 <body>
  <vaadin-vertical-layout style-name="orders-list" spacing="false" size-full margin="false">
   <vaadin-panel style-name="borderless" size-auto _id="searchPanel">
    <vaadin-css-layout style-name="orders-list-filters">
     <vaadin-text-field id="searchField" placeholder="Filter" _id="searchField"></vaadin-text-field>
     <vaadin-button id="searchButton" plain-text _id="searchButton">
       Search 
     </vaadin-button>
     <vaadin-check-box caption="Include past" _id="includePast"></vaadin-check-box>
    </vaadin-css-layout>
   </vaadin-panel>
   <vaadin-absolute-layout :expand>
    <vaadin-button icon="fonticon://FontAwesome/f055" style-name="new-order borderless huge" id="newOrder" width="100px" height="100px" plain-text _id="newOrder" :right="0px" :bottom="0px" :z-index="10"></vaadin-button>
    <orders-orders-grid id="list" size-full _id="list"></orders-orders-grid>
   </vaadin-absolute-layout>
  </vaadin-vertical-layout>
 </body>
</html>