<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;orderstheme&quot;}">
  <meta name="vaadin-version" content="8.0.2">
 </head>
 <body>
  <vaadin-vertical-layout spacing="false" size-auto margin="false">
   <vaadin-label style-name="bold large" plain-text>
     History 
   </vaadin-label>
   <vaadin-vertical-layout style-name="history">
    <vaadin-grid-layout spacing id="history" _id="items">
     <row>
      <column></column>
      <column></column>
      <column></column>
     </row>
    </vaadin-grid-layout>
    <vaadin-button style-name="link" id="addComment" plain-text _id="addComment">
      Add comment 
    </vaadin-button>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>