<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="design-properties"
	content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;orderstheme&quot;}">
<meta name="vaadin-version" content="8.0.0.beta1">
<meta name="package-mapping"
	content="orders:com.vaadin.template.orders.ui.components">
</head>
<body>
	<vaadin-vertical-layout spacing="false" size-full margin="false">
	<orders-orders-grid size-full _id="list" :expand></orders-orders-grid>
	<orders-bulletin-board size-full _id="bulletinboard"></orders-bulletin-board>
	</vaadin-vertical-layout>
</body>
</html>