<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;orderstheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout spacing="false" size-auto margin="false">
   <vaadin-label style-name="bold large" plain-text>
     History 
   </vaadin-label>
   <vaadin-panel style-name="well" _id="historyPanel">
    <vaadin-vertical-layout style-name="history">
     <vaadin-grid-layout spacing id="items" _id="items">
      <row>
       <column></column>
       <column></column>
       <column></column>
      </row>
     </vaadin-grid-layout>
     <vaadin-horizontal-layout spacing="false" width-full>
      <vaadin-text-field width-full _id="newCommentInput" :expand></vaadin-text-field>
      <vaadin-button icon="fonticon://Vaadin-Icons/e921" style-name="quiet" plain-text _id="commitNewComment"></vaadin-button>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
   </vaadin-panel>
  </vaadin-vertical-layout>
 </body>
</html>