<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;orderstheme&quot;}">
  <meta name="vaadin-version" content="8.0.2">
  <meta name="package-mapping" content="orders:com.vaadin.template.orders.ui.components">
 </head>
 <body>
  <vaadin-grid-layout style-name="product-row" spacing width-full>
   <row>
    <column expand="1">
     <orders-product-combo-box width-full _id="product"></orders-product-combo-box>
    </column>
    <column>
     <vaadin-text-field width="5em" _id="quantity"></vaadin-text-field>
    </column>
    <column>
     <vaadin-label plain-text>
       x 
     </vaadin-label>
    </column>
    <column>
     <vaadin-label plain-text _id="price">
       0.00 
     </vaadin-label>
    </column>
   </row>
   <row>
    <column>
     <vaadin-text-field placeholder="Details" width-full _id="comment"></vaadin-text-field>
    </column>
   </row>
   <row></row>
  </vaadin-grid-layout>
 </body>
</html>