<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="com_vaadin_starter_bakery_ui_components_search:com.vaadin.starter.bakery.ui.components.search">
  <meta name="package-mapping" content="orders:com.vaadin.starter.bakery.ui.components">
 </head>
 <body>
  <vaadin-vertical-layout style-name="storefront" size-full margin="false">
   <vaadin-panel style-name="borderless" _id="searchPanel">
    <vaadin-horizontal-layout spacing="false" width-full margin-left margin-right margin-top>
     <com_vaadin_starter_bakery_ui_components_search-search-field _id="searchField"></com_vaadin_starter_bakery_ui_components_search-search-field>
     <vaadin-button icon="fonticon://Vaadin-Icons/e801" style-name="friendly" id="newOrder" plain-text _id="newOrder" :right :expand>
       New 
     </vaadin-button>
    </vaadin-horizontal-layout>
   </vaadin-panel>
   <orders-orders-grid id="list" size-full _id="list" :expand></orders-orders-grid>
  </vaadin-vertical-layout>
 </body>
</html>