<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;orderstheme&quot;}">
  <meta name="vaadin-version" content="8.0.2">
 </head>
 <body>
  <vaadin-vertical-layout size-auto>
   <vaadin-label id="text" _id="text">
     You have unsaved changes. 
    <p> Are you sure you want to navigate away?</p>
   </vaadin-label>
   <vaadin-horizontal-layout :bottom :right>
    <vaadin-button style-name="danger" id="ok" plain-text _id="ok">
      OK 
    </vaadin-button>
    <vaadin-button id="cancel" plain-text _id="cancel">
      Cancel 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>